html, body {
  font-size: 125%;
  font-family: Calibri, sans-serif;
  color: white;
}

html {
  background: url(assets/JDWNRH_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  position: absolute;
  left: 50vw;
  top: 45vh;
  transform: translate(-50%, -50%);
  width: 50vw;
}

@media screen and (max-width: 600px) {
  .center {
    width: 100vw;
  }
}

div.logo {
  position: fixed;
  top: 0;
  left: 0;
}

.quote-card {
  padding: 1em 0 1em 0;
  text-align: center;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
  font-size: 75%;
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 10px;
  border: 1px solid white;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  width: 150px;
}

button:hover{
  color: #FBFBFB;
  background-color: #4095c6;
}

.card-content {
  padding-bottom: 1em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
